* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 5px 0;
    background-color: rgb(0, 215, 243);
}
.medsos ul li {
    display: inline-block;
    color: azure;
}
.container {
    width: 80%;
    margin: 0 auto;
    
}
.container:after {
    content: " ";
    display: block;
    clear: both;
}
.icon {
    width: 30px;
    font-size: 1.5rem;
}
header h1 {
    
    float: left;
    padding: 15px 0;
    color: rgb(1, 33, 37);
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: rgb(0, 215, 243);
    color: white;
}
.active {
    background-color: rgb(0, 215, 243);
    color: white;
}
.banner {
    height: 60vh;
    border: 1px solid;
    background-image: url(img/img.jpg);
    background-size: cover;
    position: relative;
}
.banner::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 215, 243, 0.4);
}
section {
    padding: 50px 0;
}
.bio {
    width: 20%;
    padding: 30px;
    background-color:rgba(0, 80, 90, 0.664) ;
    border-radius: 10px;
    float: left;
    color: white;
}
.macam {
    float: right;
    padding: 30px;
    width: 70%;
    background-color:rgba(0, 80, 90, 0.664) ;
    border-radius: 10px;
    color: white;
}
.macam2 {
    float: right;
    padding: 30px;
    width: 70%;
    background-color:rgba(0, 80, 90, 0.664) ;
    border-radius: 10px;
    color: white;
}
.login{

    background-color: white;
    width: 350px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;
    font-size: 18px;
}
.macam3 {
    float: right;
    padding: 30px;
    width: 70%;
    background-color:rgba(0, 80, 90, 0.664) ;
    border-radius: 10px;
    color: white;
}

footer{
    font-family: 'Libre Franklin', sans-serif;
    background-color: grey;
    color: white;
}